#Importer Pandas

In [2]:
import pandas as pd

#Import des dataset

In [3]:
df1 = pd.read_csv("csv_files/user_device.csv")
df2 = pd.read_csv("csv_files/user_usage.csv")
df3 = pd.read_csv("csv_files/android_devices.csv")

#Renommer Retail Branding

In [24]:
df3 = df3.rename(columns={'Retail Branding': 'Manufacturer'})

#Afficher les dataset

In [4]:
df1

,use_id,user_id,platform,platform_version,device,use_type_id
0,22782,26980,ios,10.2,"iPhone7,2",2
1,22783,29628,android,6.0,Nexus 5,3
2,22784,28473,android,5.1,SM-G903F,1
3,22785,15200,ios,10.2,"iPhone7,2",3
4,22786,28239,android,6.0,ONE E1003,1
...,...,...,...,...,...,...
267,23049,29725,android,6.0,SM-G900F,1
268,23050,29726,ios,10.2,"iPhone7,2",3
269,23051,29726,ios,10.2,"iPhone7,2",3
270,23052,29727,ios,10.1,"iPhone8,4",3
271,23053,20257,android,5.1,Vodafone Smart ultra 6,1

In [5]:
df2

     outgoing_mins_per_month  outgoing_sms_per_month  monthly_mb  use_id
0                      21.97                    4.82     1557.33   22787
1                    1710.08                  136.88     7267.55   22788
2                    1710.08                  136.88     7267.55   22789
3                      94.46                   35.17      519.12   22790
4                      71.59                   79.26     1557.33   22792
..                       ...                     ...         ...     ...
235                   260.66                   68.44      896.96   25008
236                    97.12                   36.50     2815.00   25040
237                   355.93                   12.37     6828.09   25046
238                   632.06                  120.46     1453.16   25058
239                   488.70                  906.92     3089.85   25220

[240 rows x 4 columns]

In [25]:
df3

      Manufacturer Marketing Name       Device                      Model
0              NaN            NaN       AD681H  Smartfren Andromax AD681H
1              NaN            NaN        FJL21                      FJL21
2              NaN            NaN          T31              Panasonic T31
3              NaN            NaN     hws7721g         MediaPad 7 Youth 2
4               3Q        OC1020A      OC1020A                    OC1020A
...            ...            ...          ...                        ...
14541        pendo    PNDPP44QC10  PNDPP44QC10                PNDPP44QC10
14542        pendo     PNDPP44QC7   PNDPP44QC7                 PNDPP44QC7
14543   sugar_aums         QPOINT        QPI-1                      QPI-1
14544    tecmobile       OmnisOne     OmnisOne                  Omnis One
14545        ucall          EASY1        EASY1                      EASY1

[14546 rows x 4 columns]

#Le premier Merge

In [94]:
df4 = pd.merge(df1[["use_id", "platform", "device"]], df2, on="use_id")
df4

,use_id,platform,device,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb
0,22787,android,GT-I9505,21.97,4.82,1557.33
1,22788,android,SM-G930F,1710.08,136.88,7267.55
2,22789,android,SM-G930F,1710.08,136.88,7267.55
3,22790,android,D2303,94.46,35.17,519.12
4,22792,android,SM-G361F,71.59,79.26,1557.33
...,...,...,...,...,...,...
154,23043,android,SM-G900F,198.59,90.49,5191.12
155,23044,android,SM-G900F,198.59,90.49,3114.67
156,23046,android,Moto G (4),106.65,82.13,5191.12
157,23049,android,SM-G900F,344.53,20.53,519.12
158,23053,android,Vodafone Smart ultra 6,42.75,46.83,5191.12

#Affichage des shape des dataframe ainsi que celle du résultat du merge

In [92]:
print("user_device dimension : ", df1.shape)
print("user_usage dimension : ", df2.shape)
print(df4.shape)

user_device dimension :  (272, 6)
user_usage dimension :  (240, 4)
(159, 6)

#Afficher via value_counts les use_id présent dans le nouveau dataset ainsi que ceux non présent

In [132]:
df2["use_id"].isin(df4["use_id"]).value_counts()

True     159
False     81
Name: use_id, dtype: int64

In [140]:
merge_left = pd.merge(df2, df1[["use_id", "platform", "device"]], left_on="use_id", right_on="use_id", how="left")

In [141]:
print("user_usage dimensions:", df2.shape)
print("result dimensions:", merge_left.shape)

user_usage dimensions: (240, 4)
result dimensions: (240, 6)

In [142]:
merge_left.head(5)

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,platform,device
0,21.97,4.82,1557.33,22787,android,GT-I9505
1,1710.08,136.88,7267.55,22788,android,SM-G930F
2,1710.08,136.88,7267.55,22789,android,SM-G930F
3,94.46,35.17,519.12,22790,android,D2303
4,71.59,79.26,1557.33,22792,android,SM-G361F

In [143]:
merge_right = pd.merge(df2, df1[["use_id", "platform", "device"]], how="right")

In [146]:
print("user_device dimensions:", df1.shape)
print("result dimensions:", merge_right.shape)

user_device dimensions: (272, 6)
result dimensions: (272, 6)

In [162]:
merge_left.isna().count()

KeyError: '= true'