# Étude de fraude
### Gerdy Jérôme

### Import des librairies nécessaires

In [2]:
import seaborn as sns; sns.set()
import pandas as pd

### Import des dataset Fraud_Data et IpAddress_to_Country

In [4]:
df_fraud = pd.read_csv('csv_files/Fraud_Data.csv')
df_ip = pd.read_csv('csv_files/IpAddress_to_Country.csv')

In [5]:
df_fraud.shape, df_ip.shape

((151112, 11), (138846, 3))

In [8]:
df_fraud.info()

&lt;class &#39;pandas.core.frame.DataFrame&#39;&gt;
RangeIndex: 151112 entries, 0 to 151111
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   user_id         151112 non-null  int64
 1   signup_time     151112 non-null  object
 2   purchase_time   151112 non-null  object
 3   purchase_value  151112 non-null  int64
 4   device_id       151112 non-null  object
 5   source          151112 non-null  object
 6   browser         151112 non-null  object
 7   sex             151112 non-null  object
 8   age             151112 non-null  int64
 9   ip_address      151112 non-null  float64
 10  class           151112 non-null  int64
dtypes: float64(1), int64(4), object(6)
memory usage: 12.7+ MB

In [7]:
df_ip.info()

&lt;class &#39;pandas.core.frame.DataFrame&#39;&gt;
RangeIndex: 138846 entries, 0 to 138845
Data columns (total 3 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   lower_bound_ip_address  138846 non-null  float64
 1   upper_bound_ip_address  138846 non-null  int64
 2   country                 138846 non-null  object
dtypes: float64(1), int64(1), object(1)
memory usage: 3.2+ MB

In [12]:
df_ip.head()

   lower_bound_ip_address  upper_bound_ip_address    country
0              16777216.0                16777471  Australia
1              16777472.0                16777727      China
2              16777728.0                16778239      China
3              16778240.0                16779263  Australia
4              16779264.0                16781311      China

In [42]:
df_fraud.head(105)

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address,class
0,22058,2015-02-24 22:55:49,2015-04-18 02:47:11,34,QVPSPJUOCKZAR,SEO,Chrome,M,39,7.327584e+08,0
1,333320,2015-06-07 20:39:50,2015-06-08 01:38:54,16,EOGFQPIZPYXFZ,Ads,Chrome,F,53,3.503114e+08,0
2,1359,2015-01-01 18:52:44,2015-01-01 18:52:45,15,YSSKYOSJHPPLJ,SEO,Opera,M,53,2.621474e+09,1
3,150084,2015-04-28 21:13:25,2015-05-04 13:54:50,44,ATGTXKYKUDUQN,SEO,Safari,M,41,3.840542e+09,0
4,221365,2015-07-21 07:09:52,2015-09-09 18:40:53,39,NAUITBZFJKHWW,Ads,Safari,M,45,4.155831e+08,0
...,...,...,...,...,...,...,...,...,...,...,...
100,65674,2015-06-02 22:31:55,2015-08-23 22:49:17,20,HCKNCXWZGEMBA,Ads,IE,M,19,1.276170e+09,0
101,17259,2015-05-30 16:06:31,2015-09-03 20:48:03,38,YFDFRIQZFYEDP,SEO,Safari,M,34,9.433497e+08,0
102,259616,2015-02-16 03:40:02,2015-04-05 01:06:51,26,FIGVUJINBWPHC,SEO,Chrome,M,23,4.060442e+09,0
103,257432,2015-03-24 09:08:01,2015-04-06 02:30:40,41,HYRIZVROAHIAM,Ads,Safari,F,60,1.391044e+09,0
104,322442,2015-04-17 18:52:04,2015-05-31 07:16:34,55,ZDIXYKHTAPHNA,Ads,FireFox,F,46,4.058504e+09,0

In [121]:
arr = []
for i, ip in df_ip.iterrows():
    if df_fraud["ip_address"].between(ip.lower_bound_ip_address, ip.upper_bound_ip_address, inclusive = True).any(axis=0) == True:
      print(df_fraud.iloc[i])

_time             2015-08-20 06:57:02
purchase_value                             36
device_id                       UCQSBRGYCQFKO
source                                    SEO
browser                                Chrome
sex                                         M
age                                        29
ip_address                        3.62819e+09
class                                       0
country                                Canada
lower_bound_ip_address            3.62818e+09
upper_bound_ip_address             3628187647
Name: 3445, dtype: object
user_id                                127468
signup_time               2015-01-31 21:30:52
purchase_time             2015-05-27 21:10:26
purchase_value                             23
device_id                       QBPTCKMQTZGKT
source                                    SEO
browser                                Chrome
sex                                         M
age                                        45
ip_address                        2.80743e+09
class                                       0
country                         United States
lower_bound_ip_address            2.80743e+09
upper_bound_ip_address             2807496703
Name: 3446, dtype: object
user_id                                363743
signup_time               2015-07-19 22:29:38
purchase_time             2015-10-07 22:02:44
purchase_value                             45
device_id                       LEYIREJXCPNDI
source                                    Ads
browser                                    IE
sex                                         F
age                                        39
ip_address                        8.22217e+08
class                                       0
country                             Australia
lower_bound_ip_address            8.22215e+08
upper_bound_ip_address              822345727
Name: 3447, dtype: object
user_id                                169968
signup_time               2015-06-02 08:58:35
purchase_time             2015-06-12 18:08:07
purchase_value                             30
device_id                       OTSJJTTHCJIUZ
source                                 Direct
browser                                Chrome
sex                                         F
age                                        54
ip_address                        4.02104e+09
class                                       0
country                                     0
lower_bound_ip_address                      0
upper_bound_ip_address                      0
Name: 3451, dtype: object
user_id                                 86489
signup_time               2015-08-10 01:45:13
purchase_time             2015-10-21 00:16:10
purchase_value                             14
device_id                       SVJGYIIMRHRBK
source                                    Ads
browser                                Chrome
sex                                         M
age                                        24
ip_address                        4.08729e+08
class                                       0
country                         United States
lower_bound_ip_address            4.08723e+08
upper_bound_ip_address              408731647
Name: 3452, dtype: object
user_id                                290363
signup_time               2015-03-12 10:27:57
purchase_time             2015-05-11 00:53:32
purchase_value                             30
device_id                       HBZHHMVVELWYM
source                                    Ads
browser                                    IE
sex                                         M
age                                        30
ip_address                        3.95253e+09
class                                       1
country                                     0
lower_bound_ip_address                      0
upper_bound_ip_address                      0
Name: 3457, dtype: object
user_id                                349712
signup_time               2015-03-13 19:16:38
purchase_time             2015-03-30 15:25:43
purchase_value                             42
device_id                       AJLFKDRKQNSOH
source                                    Ads
browser                                Safari
sex                                         F
age                                        47
ip_address                        2.53662e+07
class                                       0
country                             Australia
lower_bound_ip_address            2.51658e+07
upper_bound_ip_address               27262975
Name: 3458, dtype: object
user_id                                354167
signup_time               2015-03-14 06:37:02
purchase_time             2015-06-30 07:45:24
purchase_value                             41
device_id                       VTNESIHQEDBVT
source                                    SEO
browser                                Chrome
sex                                         F
age                                        41
ip_address                        2.19058e+09
class                                       0
country                           Netherlands
lower_bound_ip_address            2.19054e+09
upper_bound_ip_address             2190737407
Name: 3459, dtype: object
user_id                                179438
signup_time               2015-06-14 21:37:12
purchase_time             2015-09-20 03:45:25
purchase_value                             53
device_id                       QOVKXLBQZGSXQ
source                                    SEO
browser                                Safari
sex                                         M
age                                        35
ip_address                        9.14225e+08
class                                       0
country                         United States
lower_bound_ip_address            9.12261e+08
upper_bound_ip_address              914358271
Name: 3460, dtype: object
user_id                                 67406
signup_time               2015-08-09 04:33:26
purchase_time             2015-10-13 22:14:24
purchase_value                             17
device_id                       JVWHCBTZPMJVH
source                                    SEO
browser                                    IE
sex                                         F
age                                        28
ip_address                        3.42518e+08
class                                       0
country                         United States
lower_bound_ip_address            3.35544e+08
upper_bound_ip_address              352321535
Name: 3464, dtype: object
user_id                                 57166
signup_time               2015-06-28 13:23:26
purchase_time             2015-10-24 06:22:13
purchase_value                             74
device_id                       DIQQDMECICLDR
source                                    Ads
browser                                    IE
sex                                         M
age                                        35
ip_address                        2.32953e+08
class                                       0
country                         United States
lower_bound_ip_address            2.26492e+08
upper_bound_ip_address              234881023
Name: 3465, dtype: object
user_id                                  9687
signup_time               2015-07-26 13:03:10
purchase_time             2015-10-25 13:34:25
purchase_value                             48
device_id                       CAQECLFCWBBHM
source                                    Ads
browser                               FireFox
sex                                         F
age                                        25
ip_address                        2.08138e+09
class                                       0
country                                 China
lower_bound_ip_address            2.08129e+09
upper_bound_ip_address             2081423359
Name: 3466, dtype: object
user_id                                 49877
signup_time               2015-08-12 03:47:17
purchase_time             2015-09-29 00:19:54
purchase_value                              9
device_id                       WQITQOFXHGFSD
source                                    SEO
browser                                Chrome
sex                                         M
age                                        22
ip_address                        2.67107e+09
class                                       0
country                         United States
lower_bound_ip_address            2.67105e+09
upper_bound_ip_address             2671116287
Name: 3471, dtype: object
user_id                                139528
signup_time               2015-08-04 02:09:13
purchase_time             2015-09-24 23:22:05
purchase_value                             75
device_id                       KQHHXLAPHLPXW
source                                 Direct
browser                                    IE
sex                                         F
age                                        25
ip_address                        3.38526e+09
class                                       0
country                            Costa Rica
lower_bound_ip_address             3.3848e+09
upper_bound_ip_address             3385851903
Name: 3472, dtype: object
user_id                                371268
signup_time               2015-07-30 23:58:21
purchase_time             2015-07-31 08:12:27
purchase_value                             42
device_id                       YDPXJLNMYJFRF
source                                    Ads
browser                                Chrome
sex                                         F
age                                        37
ip_address                         2.7697e+09
class                                       0
country                         United States
lower_bound_ip_address            2.76968e+09
upper_bound_ip_address             2769747967
Name: 3477, dtype: object
user_id                                294775
signup_time               2015-05-12 10:52:19
purchase_time             2015-08-01 01:16:01
purchase_value                             54
device_id                       RKWPQFFQSCDGK
source                                    Ads
browser                                Chrome
sex                                         M
age                                        42
ip_address                        3.74882e+09
class                                       0
country                                 China
lower_bound_ip_address            3.74866e+09
upper_bound_ip_address             3748921343
Name: 3482, dtype: object
user_id                                 57367
signup_time               2015-04-07 17:46:27
purchase_time             2015-06-14 17:04:18
purchase_value                             44
device_id                       UCWWSVNQGPIUP
source                                    Ads
browser                                    IE
sex                                         M
age                                        40
ip_address                        2.14594e+09
class                                       0
country                                     0
lower_bound_ip_address                      0
upper_bound_ip_address                      0
Name: 3485, dtype: object
user_id                                215984
signup_time               2015-01-07 04:13:31
purchase_time             2015-03-26 15:15:22
purchase_value                             69
device_id                       GPLNLXHMWHCXF
source                                    Ads
browser                                Chrome
sex                                         M
age                                        21
ip_address                        1.11808e+08
class                                       0
country                         United States
lower_bound_ip_address            1.00663e+08
upper_bound_ip_address              117440511
Name: 3493, dtype: object
user_id                                248794
signup_time               2015-05-07 20:30:12
purchase_time             2015-05-31 18:36:44
purchase_value                             18
device_id                       BJWZFZLIVXOIE
source                                 Direct
browser                                Chrome
sex                                         M
age                                        31
ip_address                         2.0307e+09
class                                       0
country                                 China
lower_bound_ip_address            2.03057e+09
upper_bound_ip_address             2031091711
Name: 3501, dtype: object
user_id                                 79658
signup_time               2015-02-14 12:28:48
purchase_time             2015-06-03 04:17:01
purchase_value                             50
device_id                       HNJSBSBGXRZNA
source                                    SEO
browser                                    IE
sex                                         M
age                                        33
ip_address                        2.28318e+09
class                                       0
country                         United States
lower_bound_ip_address            2.28275e+09
upper_bound_ip_address             2283798527
Name: 3510, dtype: object
user_id                                183944
signup_time               2015-04-23 01:14:47
purchase_time             2015-08-09 14:07:29
purchase_value                             46
device_id                       WLBHYDHYUFHIS
source                                    Ads
browser                                Safari
sex                                         M
age                                        21
ip_address                        6.15689e+08
class                                       0
country                                 China
lower_bound_ip_address            6.12368e+08
upper_bound_ip_address              616562687
Name: 3514, dtype: object
user_id                                238258
signup_time               2015-02-12 02:00:10
purchase_time             2015-05-07 00:38:26
purchase_value                             36
device_id                       UWYYICIAOYGDR
source                                 Direct
browser                                    IE
sex                                         M
age                                        37
ip_address                        3.34492e+09
class                                       0
country                         United States
lower_bound_ip_address             3.3447e+09
upper_bound_ip_address             3344957439
Name: 3515, dtype: object
user_id                                276197
signup_time               2015-07-27 08:42:41
purchase_time             2015-07-28 03:28:41
purchase_value                             40
device_id                       WZRYUESMGTYPR
source                                    SEO
browser                                Chrome
sex                                         M
age                                        38
ip_address                        2.27575e+08
class                                       0
country                         United States
lower_bound_ip_address            2.26492e+08
upper_bound_ip_address              234881023
Name: 3526, dtype: object
user_id                                166929
signup_time               2015-02-11 22:46:32
purchase_time             2015-05-09 19:55:29
purchase_value                             27
device_id                       FPQVNDODUELTD
source                                    Ads
browser                                    IE
sex                                         F
age                                        34
ip_address                        3.13814e+09
class                                       1
country                                Brazil
lower_bound_ip_address            3.13813e+09
upper_bound_ip_address             3138387967
Name: 3528, dtype: object
user_id                                157830
signup_time               2015-03-08 02:19:45
purchase_time             2015-06-20 17:40:40
purchase_value                             20
device_id                       RTUXWHPQNWUPG
source                                    SEO
browser                                Safari
sex                                         M
age                                        28
ip_address                        3.03572e+09
class                                       0
country                             Indonesia
lower_bound_ip_address            3.03569e+09
upper_bound_ip_address             3035758591
Name: 3529, dtype: object
user_id                                138609
signup_time               2015-05-17 13:46:07
purchase_time             2015-09-02 00:13:52
purchase_value                             56
device_id                       RIDVFALOWKLVX
source                                 Direct
browser                                Safari
sex                                         M
age                                        22
ip_address                        1.99156e+09
class                                       0
country                                 China
lower_bound_ip_address            1.99151e+09
upper_bound_ip_address             1991770111
Name: 3530, dtype: object
user_id                                158465
signup_time               2015-01-15 17:14:20
purchase_time             2015-04-08 13:16:09
purchase_value                             25
device_id                       YXEXDRLWKVHJD
source                                    SEO
browser                                Chrome
sex                                         M
age                                        42
ip_address                        2.03843e+09
class                                       0
country                     Korea Republic of
lower_bound_ip_address            2.03843e+09
upper_bound_ip_address             2040528895
Name: 3540, dtype: object
user_id                                334579
signup_time               2015-01-03 14:44:07
purchase_time             2015-04-29 13:26:13
purchase_value                             25
device_id                       HDYETTPUAXOZN
source                                    SEO
browser                                Chrome
sex                                         F
age                                        43
ip_address                        2.88638e+08
class                                       0
country                         United States
lower_bound_ip_address            2.85213e+08
upper_bound_ip_address              301989887
Name: 3541, dtype: object
user_id                                 87333
signup_time               2015-03-21 18:13:34
purchase_time             2015-03-30 22:29:18
purchase_value                             27
device_id                       FFZNZYORCKYMC
source                                    Ads
browser                                    IE
sex                                         M
age                                        26
ip_address                        1.89785e+08
class                                       0
country                         United States
lower_bound_ip_address            1.84549e+08
upper_bound_ip_address              201326591
Name: 3542, dtype: object
user_id                                 66398
signup_time               2015-07-24 21:22:51
purchase_time             2015-11-18 23:02:27
purchase_value                             59
device_id                       TTSEBTSJQMLNF
source                                    SEO
browser                                Safari
sex                                         F
age                                        30
ip_address                        3.98905e+09
class                                       0
country                                     0
lower_bound_ip_address                      0
upper_bound_ip_address                      0
Name: 3543, dtype: object

KeyboardInterrupt: